# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/coaching_os?schema=public"

# Auth Session Secret
AUTH_SECRET="coaching-os-bangladesh-production-secret-key-32chars"

# App Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
